.weather-container {
    margin: 50px auto;
    max-width: 450px;
    text-align: center;
    background-color: #614e5162;
    padding: 40px 0;
    border-radius: 20px;
}

.weather-container h1 {
    font-size: 50px;
    font-weight: bold;
    color: #F9D195;
}

.search-container {
    width: 80%;
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-container input {
    font-size: 17px;
    flex-basis: 50%;
    padding: 10px 12px;
    border-radius: 20px;
    outline: none;
    border: none;
    color: #000000;
    background-color: #daefe9;
}

.search-container input:focus {
    border: 2px solid #16b4c5;
}

.search-container input::placeholder {
    color: #3a0aa1;

}

.search-container button {
    padding: 10px 20px;
    font-size: 17px;
    border-radius: 20px;
    border: none;
    color: #e0d9ef;
    background-image: linear-gradient(90deg, #3219c0, #0ca1ae);
}

.search-container button:hover {
    box-shadow: 0 0 3px 2px #66ed6a;
}

.img-and-name-container img {
    width: 180px;
    margin-top: 20px;
    margin-bottom: 10px;
    /* background-color: #ffffff96; */
    border-radius: 15px;
}

.img-and-name-container p {
    font-size: 50px;
    color: #a7f591;
}

.img-and-name-container .city-name-display {
    font-size: 35px;
    color: #ed7606;
}

.weather-data {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.weather-data .col {
    width: 44%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border-radius: 10px;
    padding: 12px;
    background-color: #cfacac77;
}

.weather-data .col p {
    font-size: 24px;
    color: #3c5273;
}

.weather-data .col span {
    font-size: 17px;
    color: #3a9204;
}

.error-message {
    font-size: 45px;
    color: #8b0c0c;
    font-weight: lighter;
    margin-top: 20px;
    padding: 0 40px;
}



.loading-data {
    margin-top: 25px;
    font-size: 30px;
    color: #00eeff;
}

.weather-container h4 {
    color: palegoldenrod;
    font-size: 20px;
    margin-top: 10px;
}