@import "tailwindcss";

:root {
  --main-color: #d9d9d9;
  --primary-text: #292929;
  --main-shadow: 10px 10px 5px #383838;
}

@font-face {
  font-family: "gilroy";
  src: url("./assets/Gilroy-Light.otf");
}

@font-face {
  font-family: "gilroy-bold";
  src: url("./assets/Gilroy-ExtraBold.otf");
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(120deg, white, #466173);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--primary-text);
}
/* #dashboard-main {
  height: 100%;
  width: 100%;
  background: linear-gradient(120deg, white, #466173);
} */

.custom-scroll::-webkit-scrollbar {
  display: none;
}

.primary-gradient {
  background-color: linear-gradient(150deg, #f88408, #f6fad9);
}
.secondary-gradient {
  background-color: linear-gradient(150deg, #443d64, #6582c6);
}
